body{
    color: aliceblue;
    background-color: black;
}

/* parent div that holds the category title and category div */
/* #categoryHolder{

} */

/* div that holds category results from search */
#category{
    display: flex;
    flex-wrap: wrap;
    margin: 4%;
    text-align: center;
}
#categoryTitle{
    color: aliceblue;
    font-size: 28px;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    margin-left: 5%;
}

#backButton{
    background-color: transparent;
    color:aliceblue;
    font-size: large;
    cursor: pointer;
}