/* body default style  */
body{
    color: aliceblue;
    background-color: black;
}
/* the site's name */
#siteName{
    font-size: 25px;
    letter-spacing: 3px;

}
/* The "see" part of the title */
#titlePart{
    color: red;
}
/* div for randon movie previews */
#previewDiv{
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}
/* the top div holding the site name , search bar and menu button */
#topBar{
    width: 95vw;
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: transparent;
    margin: 0;
}
/* top two search and bar menu buttons */
#menuButton , #searchButton{
    background-color:transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
/* tag button div */
#tagMenu{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
#tagMenu::-webkit-scrollbar {
    width: 0;
    background-color: transparent; /* optional: just make scrollbar invisible */
  }

/* top category tags "movies" , "TV Shows" , "Actors" , "Popular" etc */
.tag{
    width: 100px;
    height: 30px;
    margin-left: 4px;
    border-radius: 20px;
    background-color: #1C162B;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}
/* spans that style  trending and coming soon categories */
 #trending , #comingSoon{
    font-size: 28px;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
    /* font-weight: 800; */
}
/* <span > element class that styles the second parts of the trending and coming soon categories */
.titleSpan{
    font-size: 25px;
    font-weight: 500;
}

/* Image resizing and appearance setting from here */

/* cover image setup */
#cover{
    position:relative;
    width: 100vw;
    height: 50vh;
    margin: 3%;
    padding: 0%;
}

