html {
  scroll-behavior: smooth;
}

/* body default style  */
body {
  color: aliceblue;
  background-color: black;
  margin: 0%;
  padding: 0%;
  top: 0;
  left: 0;
}

/* the site's name */
#siteName {
  font-size: 25px;
  letter-spacing: 3px;

}

/* The "see" part of the title */
#titlePart {
  color: red;
}

/* div for randon movie previews */
#previewDiv {
  width: 100vw;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

/* the top div holding the site name , search bar and menu button */
#topBar {
  width: 95vw;
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: transparent;
  margin: 0;
}

/* top two search and bar menu buttons */
#menuButton,
#searchButton {
  background-color: transparent;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-color: transparent;
}

/* tag button div */
#tagMenu {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#tagMenu::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
  /* optional:  makes tag scrollbar invisible */
}

/* top category tags "movies" , "TV Shows" , "Actors" , "Popular" etc */
.tag {
  width: 100px;
  height: 30px;
  margin-left: 4px;
  border-radius: 20px;
  background-color: #39324b;
  color: aliceblue;
  font-weight: bold;
  cursor: pointer;
}

/* spans that style  trending and coming soon categories */
#trending,
#comingSoon {
  font-size: 28px;
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
  margin-left: 5%;
  /* font-weight: 800; */
}

/* <span > element class that styles the second parts of the trending and coming soon categories */
.titleSpan {
  font-size: 25px;
  font-weight: 500;
}

/* Image resizing and appearance setting from here */

/* cover image setup */
#cover {
  position: relative;
  width: 90vw;
  height: 30vh;
  margin: 0%;
  padding: 0%;

  border: 0px solid #971c1c;
  box-shadow: 1px 1px 2000px 8px #6c1f1f;
  border-radius: 2%;
  transition: box-shadow 0.5s ease-in-out;
}

/* styling the Div Holding the "Coming Soon", "Trending Movies" ,
and the divs related to them films*/
#comingSoonDiv,
#comingSoonDiv2,
#comingSoonDiv3,
#trendingDiv,
#trendingDiv2,
#trendingDiv3 {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* styles the scrollbars of the divs containing loaded ovies from the API */
#comingSoonDiv::-webkit-scrollbar,
#comingSoonDiv2::-webkit-scrollbar,
#comingSoonDiv3::-webkit-scrollbar,
#trendingDiv::-webkit-scrollbar,
#trendingDiv2::-webkit-scrollbar,
#trendingDiv3::-webkit-scrollbar {
  background-color: transparent;
  /* optional: just make scrollbar invisible */
}

#comingSoonDiv::-webkit-scrollbar-thumb:hover,
#comingSoonDiv2::-webkit-scrollbar-thumb:hover,
#comingSoonDiv3::-webkit-scrollbar-thumb:hover,
#trendingDiv::-webkit-scrollbar-thumb:hover,
#trendingDiv2::-webkit-scrollbar-thumb:hover,
#trendingDiv3::-webkit-scrollbar-thumb:hover {
  background-color: rgb(93, 16, 16);
  border-radius: 50px;
  /* optional: just make scrollbar invisible */
}

/* Style the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/* menu buttons */
.navButton {
  margin: 1.5%;
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  border-color: transparent;
  font-size: 20px;
}

.navButton:hover {
  margin: 1.5%;
  background-color: transparent;
  cursor: pointer;
  color: red;
  transform: scale(1.2);
}

/* close button "X" on menu pop up */
#menuClose {
  margin-left: 0%;
  margin-right: 95%;
}

/* class of div holding the tag li */
.modal-content {
  background-color: rgba(8, 0, 0, 0.85);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

ul li {
  text-decoration: none;
  list-style: none;
}


/* Style the close button */
.close {
  color: #fbf6f6;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 5%;
}

/*close X button hover effects */
.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

/* text field to conduct search operations */
#searchField {
  background-color: transparent;
  font-size: large;
  width: 90%;
  border-color: transparent;
  border-radius: 10px;
  color: rgb(150, 145, 145);
}

/* Remove the browser's default styling for form elements */
input:focus {
  outline: none;
  box-shadow: none;
}

/* Set the background of the input field to transparent */
input {
  background-color: transparent;
}

/* container holding the menu buttons */
#menuModal {
  background: #020105;
  width: 100%;
  height: 25%;
  margin: 0%;
  z-index: 1;
  /* margin-top: 30%; */
  position: relative;
  /* border-radius: 10% 200% 10% 10%; */
}

#moreBtn,
#moreBtnTrending {
  width: 30px;
  height: 30px;
  margin-top: 10%;
  margin-left: 20%;
  color: whitesmoke;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-color: transparent;
}

/* divs set to invisible to be displayed on desktop */
#topMovie,
#topMovieDiv,
#trendingDiv2,
#trendingDiv3,
#comingSoonDiv2,
#comingSoonDiv3 {
  display: none;
}

#hoverInfoDiv {
  display: none;
}

/* lowerSection: The last info area on the front page */
#lowerPage {
  justify-self: center;
  display: inline;
  width: 90vw;
  overflow: hidden;
  padding: 5px;
  font-family: 'Josefin Slab', serif;
  word-wrap: break-word;
  font-size: 17px;
  justify-content: space-between;
}

#lowerFirst,
#lowerSecond,
#lowerThird {
  margin: 0.5%;
  text-align: center;
  font-size: 20px;
  border: 1px solid rgba(61, 59, 59, 0.5);
  box-shadow: #efefef;
  overflow: hidden;
  border-radius: 10px;
  padding: 30px;
}

#emailField {
  width: 50vw;
  height: 40px;
  border: 1px solid red;
}

#sendButton {
  height: 49px;
  width: 51.5vw;
  margin: 0;
  margin-top: -.5%;
  background: rgb(203, 21, 21);
  color: whitesmoke;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 1px;
}

/* email input field */
#emailField {
  color: whitesmoke;
  border-radius: 1px;
}

/* emil field placeholder: default text */
#emailField::placeholder {
  color: rgb(195, 195, 195);
  font-size: 16px;
  text-align: center;
}

#lowerSiteName {
  margin-top: 6%;
  color: red;
}

#phoneDiv,
#emailDiv,
#locDiv {
  display: flex;
  justify-content: space-between;
}

/**Optimization for large screen**/
@media only screen and (min-width: 768px) {

  body {
    font-family: 'Josefin Slab', serif;
    margin: .5%;
  }

  /* For desktop: */

  /* the "Upcoming films"and the "Trending Movies" text */
  .titleSpan,
  #comingSoon,
  #trending {
    font-size: 40px;
    color: whitesmoke;
  }

  #comingSoon,
  #trending {
    color: red;
  }

  #previewDiv {
    display: none;
  }

  /* top most (first) div */
  #topBar {
    background-color: transparent;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
  }


  /* tag buttons div */
  #tagMenu {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    z-index: 9;
    background-color: transparent;
  }

  /* topMovie,topMovieDiv div set to visible on desktop */
  .topMovie {
    padding: 0;
    width: 350px;
    height: 400px;
    z-index: -1;
    text-align: center;
    display: block;
    transition: transform 0.2s ease-out;
  }

  /* div that holds inner divs that in turn hold the top actor images, names and their descriptions */
  #topMovieDiv {
    display: flex;
    position: relative;
    overflow: scroll;
    cursor: pointer;
    box-shadow: 0 0 400px rgb(5, 0, 0);
    margin-left: 0%;
    padding: 0;
    top: 0;
    margin: 0;
  }

  /* styles the topMovieDiv scrollbar */
  #topMovieDiv::-webkit-scrollbar {
    background-color: transparent;
    width: 30px;
  }

  /* styles the topMovieDiv scrollbar thumbs */
  #topMovieDiv::-webkit-scrollbar-thumb:hover {
    background-color: red;
    width: 30px;
  }

  /* styles the topMovieDiv scrollbar corner for uniformity */
  #topMovieDiv::-webkit-scrollbar-corner {
    background-color: transparent;
    width: 30px;
  }

  /*div that holds the individual image items  */
  .imgDiv {
    position: relative;
    width: 300px;
    /* Adjust to match the width of your image */
  }

  /* names of the top actor covers */
  .coverName {
    margin-left: 5%;
    font-size: 30px;
    color: rgb(161, 18, 18);
  }

  /* div holding the two paragraph tags containing the actor name and brief history/description/information */
  .infoDiv {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(69, 64, 64, 0.7);
    /* Adjust the opacity to your liking */
    color: #fff;
    opacity: 0;
    /* border-radius: 5px; */
    transition: opacity 1s;
  }

  /* styles the second paragraph tag of every top image actor */
  .imgDiv .coverInfo {
    font-family: 'Josefin Slab', serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
  }

  /* displays information when an image item on the top is hovered */
  .imgDiv:hover .infoDiv {
    opacity: 1;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  /**movie tag**/
  #moviesTag,
  #tvShowsTag,
  #popularTag,
  #trendingTag,
  #comingSoonTag {
    margin-left: 4%;
    margin-top: 1%;
    font-size: 20px;
    margin-bottom: 3%;
    width: 13%;
    padding-bottom: 30px;
    padding-top: 5px;
    background-color: transparent;
    border: transparent;
    border-radius: 0%;
  }

  /**movie tag:hover effects**/
  #moviesTag:hover,
  #tvShowsTag:hover,
  #popularTag:hover,
  #trendingTag:hover,
  #comingSoonTag:hover {
    background-color: transparent;
    border: solid 1px rgb(88, 11, 11);
    color: red;
    border-radius: 5px;
  }

  /* display the subsequent trending divs for API page two movies */
  #trendingDiv2,
  #trendingDiv3,
  #comingSoonDiv2,
  #comingSoonDiv3 {
    display: flex;
    padding-bottom: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 0px;
  }

  /**Site name (StreamSee)**/
  #siteName,
  #titlePart {
    font-size: 50px;
    margin: 3%;
    margin-top: 1%;

  }

  /**see part of StreamSee**/
  #titlePart {
    margin-left: 0%;
  }

  #comingSoonMenuHolder {
    display: inline-block;
    white-space: nowrap;
  }

  /* show the movie hover preview in Desktop  */
  .desktopPreview {
    display: flex;
    justify-content: left;
    margin-left: 5%;
    border: solid 1px rgb(148, 129, 129);
    padding: 5px;
    margin-right: 5%;
    margin-bottom: 3%;
    border-radius: 5px;
  }

  /* preview image */
  #desktopPreviewCover {
    width: 500px;
    height: 350px;
  }

  /* cover info */
  #prevInfo {
    margin-left: 1%;
    background-color: rgb(0, 0, 0);
    z-index: 1;
  }

  /* cover preview title */
  #prevTitle {
    font-size: 35px;
    margin: 0;
    font-weight: bolder;
    line-height: 35px;
    letter-spacing: 5px;
    margin-top: 5%;
  }

  /* cover preview rating text */
  #prevRating {
    font-size: 20px;
    margin-top: 0%;
  }

  #prevProgress {
    width: 100%;
    overflow: hidden;
  }

  progress {
    -webkit-appearance: none;
    /* background: orangered; */
  }

  /* progress fill color */
  progress::-webkit-progress-bar {
    /* background-color: rgb(249, 248, 255); */
    background: rgb(255, 255, 255);
    width: 25%;
    overflow: hidden;
    height: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  /* progress fill color */
  progress::-webkit-progress-value {
    background: red;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }

  /**disabled the more button both in the upcoming films and trending movies**/
  #moreBtn,
  #moreBtnTrending {
    display: none;
  }

  /* rating value */
  #prevRatingValue {
    margin: 0%;
    font-size: 20px;
    color: red;
  }

  /* description of the hovered movie */
  #description {
    max-width: 80%;
    font-size: 18px;
    margin-top: 0%;
  }

  /* ratings star icons*/
  .rating {
    margin: 0%;
    width: 20px;
    height: 20px;
  }

  /*  */
  #lowerThird {
    display: inline;
    font-size: 40px;
  }

  .icon {
    display: none;
    /* justify-content: space-between; */
  }

  .info{
    text-align: left;
    margin: 2%;
    margin-left: 45%;
  }

  #phoneDivImg,#number{
    margin:0%;
  }

  /* container holding the menu buttons */
  #menuModal {
    background: #020105;
    width: 100%;
    height: 25%;
    margin: 0%;
    /* margin-top: -50%; */
    position: relative;
    /* border-radius: 10% 200% 10% 10%; */
  }

}