body {
     background-image: url("/img/5f51f696241415.5eb2d19f8b3e1.png");
   background-size: cover;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    position: relative;
}

body::before {
    content: "";
    /* background-color: rgb(0, 0, 0,.8); */
    background: linear-gradient(to top, #000000 10%, #181414 30%, transparent 80%,black 100%);
    width: 100%;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: blur(2px);
    z-index: -1;
  }
  
  .content {
    position: relative;
    z-index: 1;
  }

/* #parent{
    position: fixed;
    z-index: 1;
} */

/* the first div holding the top navigation buttons and sitename  */
#nav {
    display: flex;
    justify-content: space-between;
}

/* site name "Stream" part */
#siteName , #titlePart{
    color: whitesmoke;
    font-size: 25px;
    margin-right: 30%;
}

/* site name "See" part */
#titlePart{
    color: #ff0000;
}

/* movie title */
#title {
    font-size: 45px;
    word-wrap: break-word;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    text-align: right;
    color: rgb(9, 0, 0);
    -webkit-text-stroke-width: .8px;
    -webkit-text-stroke-color: #ffffff;
}

/* play button container */
#playDiv {
    text-align: right;
    margin-right: 15%;
}

/* button with play icon */
#playButton {
    color: aliceblue;
    font-size: 70px;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    text-align: center;
}

/* div holding the movie summary */
/* #descriptionDiv {
    border: 0px solid #971c1c;
    box-shadow: 1px 1px 2000px 8px #0e0303;
    border-radius: 2%;
    transition: box-shadow 0.8s ease-in-out;
} */

/* movie summary paragraph */
#description , #release_date {
    text-align: left;
    background-color:transparent;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 0px solid #971c1c;
    margin: 2%;
}

/* release date <p> tag info */
#release_date{
    color: wheat;
    margin-top: 5%;
}

/*  */
#searchButton , #backButton{
    background-color: transparent;
    border-color: transparent;
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
}