body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Josefin Slab', serif;
}
#avatarDiv{
    display: flex;
    justify-content:left;
    margin-top: 5%;
    margin-left: 5%;
}
#movieName{
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;
}
iframe{
    background-image: url("/img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 0px solid white;
    background-color: rgb(0, 0, 0) ;
    width: 98%;
    border-radius: 10px;
    margin-top: 5%;
    height: 80vw;
}
#iframeHolder{
    display: flex;
    justify-content: center;
}